{% extends 'base.html' %}

{% block content %}
    <h1>Fruits</h1>
    <div class="row">
        {% for fruit in fruits %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src={{fruit.image_url}} class="card-img-top" height="200" width="100" >
                    <div class="card-body">
                        <h5 class="card-title">{{ fruit.name }}</h5>
                        <p class="card-text">${{ fruit.price }}</p>
                        <a href="#" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Add to cart</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}