{% extends 'base.html' %}
{% block content %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>

    <div class="row mx-md-n5">
  <div class="col px-md-5 text-center"><div class="p-3 border bg-light"> <h5>Fruits</h5></div>
        <div class="card text-center">
          <div class="card-body">
              <img src="https://c7.uihere.com/files/326/394/519/fruit-market-red-green-organic.jpg" height="200" width = "200" class="rounded-circle">
            <p class="card-text">Salads, smoothies or eat as it is. Our fruits are so fresh and juicy.</p>
            <a href="/fruits" class="btn btn-primary">View List</a>
          </div>
        </div>
      </div>
        <div class="col px-md-5 text-center"><div class="p-3 border bg-light"><h5>Vegetables</h5></div>
  <div class="card text-center">
          <div class="card-body">
              <img src="https://pixnio.com/free-images/2017/07/28/2017-07-28-07-44-17-900x601.jpg" height="200" width = "200" class="rounded-circle">
            <p class="card-text">Cook them or eat raw! Have a look at our fresh vegetables.</p>
            <a href="/vegetables" class="btn btn-primary">View List</a>
          </div>
        </div>
  </div>
</div>


    </body>
    </html>
{% endblock %}