{% extends 'base.html' %}
{% block content %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>

    <div class="row mx-md-n5">
  <div class="col px-md-5 text-center"><div class="p-3 border bg-light"> <h5>Fruits</h5></div>
        <div class="card text-center">
          <div class="card-body">
              <img src="https://cdn.pixabay.com/photo/2017/10/14/15/50/watermelon-2850840_960_720.png" height="200" width = "200" class="rounded-circle">
            <p class="card-text">Salads, smoothies or eat as it is. Our fruits are so fresh and juicy.</p>
            <a href="/fruits" class="btn btn-info">View List</a>
          </div>
        </div>
      </div>
        <div class="col px-md-5 text-center"><div class="p-3 border bg-light"><h5>Vegetables</h5></div>
  <div class="card text-center">
          <div class="card-body">
              <img src="https://storage.needpix.com/rsynced_images/carrots-2022583_1280.png" height="200" width = "200" class="rounded-circle">
            <p class="card-text">Cook them or eat raw! Have a look at our fresh vegetables.</p>
            <a href="/vegetables" class="btn btn-info">View List</a>
          </div>
        </div>
  </div>
</div>


    </body>
    </html>
{% endblock %}